.Blog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Blog ul li {
  display: inline-block;
  margin: 20px;
}

.Blog ul li a {
  text-decoration: none;
}

.Blog ul li a:visited {
  color: #000;
}

.Blog ul li a:hover,
.Blog ul li a:active,
.Blog ul li a.active {
  color: #fa923f;
}
